[Unit]
Description=ts3bot
After=network.target

[Service]
ExecStart=/usr/bin/node /var/www/ts3bot/index.js prod
Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hubbot

Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
#WorkingDirectory=/var/www/ts3bot

[Install]
WantedBy=multi-user.target
